#map {
    height: 600px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    /* border-color: #2861ff; */
  }

  .body {
  background-image: url('/assets/images/rogue-river-oregon.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
